pandas==2.1.4
pandasai==3.0.0b8
pandasai-openai==0.1.4
statsmodels==0.14.0
streamlit==1.42.0
streamlit-float==0.3.5
streamlit-scrollable-textbox==0.0.3
numpy==1.23.2
openai==1.63.2
langchain==0.3.23
langchain-community==0.3.16
markdown2
xhtml2pdf
nltk
python-docx
openpyxl
chromadb==1.0.7
tiktoken
lark
deepeval==2.7.5
fpdf